@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: Lato;
  color: #777777;
}


/*Header***********************************/
h2{
  font-family: oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555555;
}

#logo{
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

#menu{
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
}
/*Below: when I float the nav links from the right i need to change the order from left to right to right to left in the html <ul> so they show in the correct order*/ 
#menu li{
  float: right;
  margin-right: 30px;
}

#logo, #menu{
  line-height: 75px;
}

#menu a{
  text-decoration: none;
  color: inherit;  
}

#menu a:hover{
  border-bottom: 1px solid #777777;
}

.active{
  border-bottom: 1px solid  #777777;
}

/*Hero Image**************************************/
#hero-image{
  height: 600px;
  width: 100%;
  background: url(http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png) no-repeat center center;


/*below is the animation settings*/

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;


}

/*hero image container (section), defining the size of image container and creating the animation in. Overflow hidden is set to hide the part of the image that becomes outside the container when it is animating*/

#hero-outer{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/*now the image is sitting below the header, below is the animation css */


@keyframes hero-zoom {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

/*dont forget to ad the animation name and settings to the #hero-image




Hero text overlay**************************************/

#cover-text, #cover-text h2{
  color: #ffffff;
}

#cover-text{
  font-size: 130%;
  font-family: oswald;
  text-transform: uppercase;
  letter-spacing: 4px; 
/*size of container*/
  width: 300px;
  height: 200px;
/*inlarging container around text*/
  padding-top: 40px;
  padding-left: 10px;
/*background of container having a opacity of .7*/
  background-color: rgba(241, 109, 107, .7);
/*setting the positon of the overlay text box within its parent container, remember to make the container position: relative*/
  bottom: 30px;
  right: 120px;
  position: absolute;
}

/*club ethos section**************************************/


/*setting the container size*/
#club-ethos{
  height: 600px;
}

/*positioning each div using their ID, this only positions the div and not the text/content within. Note: add a color background to each div while styling to see what I am working with*/
#left-about{
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about{
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-about{
  width: 33%;
  margin: 0 auto;
}
/*Now the basic structure of the section is in place, next work on the style. First add elements to divs to start building each div out.

Next style the headings for each div by grabbing the class*/

hr{
  border-top: 1px solid #777777;
  width: 100%;
  margin: 5px 0;
}


.left-about-heading{
  width: 50%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading{
  width: 50%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
  text-align: right;
}

/*aligning the main heading for club ethos to center and adding margin to add space between the hero image*/
#welcome{
  text-align: center;
  margin: 20px 0;
  font-size: 280%;
}

#circle-container{
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

/*The image container and adding the image.  Trick: set image border-radius to be circle as well. The width and height are 100% of parent container*/
#circle-container-background{
  background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png") no-repeat center center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/*Running Meet section*************************************************/

#times{
  background-image: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/dublin-city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#times h2{
  color: #fafafa;
}



#times div{
  color: #fafafa;
  background-color: rgba(0,0,0,.6);
  width: 19%;
  height: 300px;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  margin: 2px;
}

/*footer************************************************************/

footer{
  height: 150px;
}

/*This aligns the links within the center of the row across the viewport within the main section container*/
.social-networks{
  text-align: center;
}


/*This changes the links from stacking on top of each other to sitting inline next to each other*/
.social-networks li{
  display: inline;
}

/*This applies styling to the individual icons*/
.social-networks i{
  font-size: 106%;
  margin: 1%;
  padding: 5%;
  color: #777777;
}

/*Gallery page****************************************************/

#photos{
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

#photos img{
  width: 100%;
}


/*media queries************************************************/

/*Tablet-Home page**********************/

@media screen and (max-width: 1393px){
  #club-ethos{
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }
  #welcome{
    padding: 30px 0;
    margin-top: 0;
  }
  #left-about, #right-about{
    width: 100%;
    float: left;
    padding: 0;
  }
  #center-about{
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }

  #times div{
    width: 100%;
    clear: both;
    height: 150%;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    padding: 0;

  }

  
  hr{
    display: none;
  }
}

/*Responsive header **************/

@media screen and (max-width: 943px){
  #menu{
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #cover-text{
    left: 0;
  }


  #club-ethos{
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  .left-about-heading, .right-about-heading{
    width: inherit;
  }

  .left-about-heading h2, .right-about-heading h2{
    width: 100%;
    text-align: center;
  }

  .left-about-heading p, .right-about-heading p{
    text-align: center;
    padding: 0 20px 0 20px;
  }
/*Gallery media queries for tablet and mobile*****************************/
  #photos{
    column-count: 3;
  }

}


@media screen and (max-width: 700px){
  #photos{
    column-count: 2;
  }
}

@media screen and (max-width: 500px){
  #photos{
    column-count: 1;
  }
}